{%extends "layout.html"%}


{%block content %}
    <div class='row' style="border:1px black solid">
        <button type="button" class="btn btn-danger d-inline">Create New Album</button>
        <button type="button" class="btn btn-danger d-inline">Upload Photos</button>
        <button type="button" class="btn btn-danger d-inline">View Albums</button>
        <img style="border: black 1px solid;"src="/static/uploads/images/banana.gif"></img>
    </div>
    
    <div class='row' style="border:1px black solid">
        <div class='col-12'>
        <form class="form custom-file rounded-pill mb-5" enctype="multipart/form-data" method="POST" action="{{url_for('upload')}}">
            <label for="album_name">Album Name</label>
            <input type="text" name="album_name" placeholder="Name of Album" />
            <label for="album_description">Album Description</label>
            <input type="text" name="album_description" placeholder="Description" />
            <input class="btn btn-primary" type="submit" value="Create">
        </form>
        </div>
    </div>

{%endblock %}

{%block album %}
 {% for d in data %}
    <tr>
        <td>{{ d['_id'] }} </td>
        <td>{{ d['album_name'] }}</td>
        <td>{{ d['created_on'] }}</td>
        <td>{{ d['album_description'] }}</td>
        <td>{{ d['deleted_on'] }}</td>
        <td>{{ d['deleted'] }}</td>
        {% for i in image%}
        <td>{{ d['image_id'] }}</td>
        {% endfor %}
    </tr>    
 {% endfor %}

{%endblock %}