{% extends "layout.html" %}

{%block content %}

  <div class="container-fluid" style="margin-bottom: 50px">
    <div class="row content">

      <div class="col-sm-12">
        <form class="form"  method='POST'>
          <input type='submit' value='Create' class='btn btn-primary'/>
          <a href="{{ url_for('display_albums') }}" class='btn btn-primary'>Back</a>
          <hr>
          <div class='form-group'>
            <label class='Album_Name '>Album Name:</label>
            <input type='text' class='form-control' name='Album_Name' value="Give your album a name" />
          </div>

          <div class='form-group'>
            <label class='Album_Description '>Album Description:</label>
            <textarea class='form-control' name='Album_Description'>Give your album a description</textarea>
          </div>

  
        </form>

      </div>
    </div>
  </div>

{%endblock %}