{%extends "layout.html"%} 

{% block content %}
<p>Test</p>

<table style="width:100%">
    <tr>
        <th>Photo ID</th>
        <th>Photo Name</th>
        <th>Caption</th>
        <th>Tags</th>
        <th>Timestamp</th>
        <th>File Type</th>
        <th>File Size (In Megabytes)</th>
        <th>Photo</th>
        <th>Edit</th>
    </tr>
    {% for d in data %}
    <tr>
        <td>{{ d['_id'] }} </td>
        <td>{{ d['image_name'] }}</td>
        <td>{{ d['image_caption'] }}</td>
        <td>{{ d['image_tags'] }}</td>
        <td>{{ d['uploaded_on'] }}</td>
        <td>{{ d['file_type'] }}</td>
        <td>{{ d['file_size'] }} Mb </td>
        <td><img id="thumbnail" src=" {{ d['image_url'] }} " /></td>
        <td><label><input name="selection" type="checkbox" value="{{ d['_id'] }}">Delete</label></td>
    </tr>
    {% endfor %}
</table>

{%endblock %}