{% extends "layout.html" %}

{%block content %}

  <div class="container-fluid">
    <div class="row content">

      <div class="col-sm-12">
        <table class="table" style="width:100%">
          <thead>
          <tr>
            <th>Album ID</th>
            <th>Created On</th>
            <th>Album Name</th>
            <th>Description</th>
            <th>Deleted?</th>
            <th>Deleted On</th>
            <th>Images</th>
            <th>
              Action
              <a href='{{ url_for('create_album') }}' class='btn btn-primary'>Create</a>
            </th>
          </tr>
          </thead>
          
          <tbody>
          {% for d in data %} {% if d['deleted'] == '0' %}
          <tr>
            <td>{{ d['_id'] }}</td>
            <td>{{ d['created_on'] }}</td>
            <td><a href='{{ url_for('display_selected_album', albumid=d['_id']) }}'>{{ d['album_name'] }}</a></td>
            <td>{{ d['album_description']}}</td>
            <td>{{ d['deleted']}}</td>
            <td>{{ d['deleted_on'] }}</td>
            <td>{{ d['images'] }}</td>
            <td>
              <a href='{{ url_for('display_delete_confirmation', albumid=d['_id']) }}' class='btn btn-danger'>Delete</a>
            </td>
          </tr>
          {% endif %} {% endfor %}
        </tbody>  
        </table>
      </div>


    </div>
  </div>

{%endblock %}