{%extends "layout.html"%}


{%block content %}
    <table style="width:100%">
    <tr>
      <th>Album ID</th>
      <th>Album Name</th> 
      <th>Created On</th>
      <th>Album Description</th>
    </tr>
    {% for d in data %}
    <tr>
        <td>{{ d['_id'] }} </td>
        <td>{{ d['album_name'] }}</td>
        <td>{{ d['created_on'] }}</td>
        <td>{{ d['album_description'] }}</td>
        
    </tr>
    {% endfor %}
    </table>
    
    <button type="button" class="btn btn-danger">Create New Album</button>
    <button type="button" class="btn btn-danger">Upload Photos</button>
    <button type="button" class="btn btn-danger">View Albums</button>
    

{%endblock %}