{% extends "layout.html" %}

{%block content %}

  <div class="container-fluid">
    <div class="row content">
      <div class="col-sm-12">
        <form class="form"  method='POST'>
          <div class='form-group'>
            <label class='Album_Name '>Album Name:</label>
            <input type='text' class='form-control' name='Album_Name' value="{{ data['album_name'] }}" />
          </div>

          <div class='form-group'>
            <label class='Album_Description '>Album Description:</label>
            <textarea class='form-control' name='Album_Description'>{{data['album_description']}}</textarea>
          </div>

          <input type='submit' value='Update' class='btn btn-primary' />
          <a href="{{ url_for('display_selected_album', albumid=data['_id']) }}" class='btn btn-primary '>Back</a>
        </form>
      </div>
    </div>
  </div>


{%endblock %}


