{% extends "layout.html" %}

    {%block content %}
    
  <div class="container-fluid">
    <div class="row content">
    
      <div class="col-sm-12">
        <div class='alert alert-danger'>
          <form action='{{url_for('process_delete_album', albumid= data['_id']) }}'>
            Are you sure you want to delete the ablum: {{ data['album_name'] }} ?
            <div>
              <input type='submit' class='btn btn-primary' value='Yes'>
              <a href='{{ url_for('display_albums', albumid= data['_id']) }}' class='btn btn-primary'>No</a>
            </div>
          </form>
        </div>
      </div>
      
    </div>
  </div>  

    {%endblock %}

