{% extends "layout.html" %}

{%block content %}
    <div class="d-flex flex-row-reverse">
      <div class="p-3"><a href="{{ url_for('display_albums', albumid=data['_id']) }}" class='btn btn-primary'>Back</a></div>
      <div class="p-9"></div>
    </div>
    <div class="album py-5">
      <div class="container">
        <div class="row">
          {% for p in photos %}
          {% if p['album_uploaded_to'] in data['album_name'] %}
           <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img class="card-img-top" src="{{ p['image_url'] }}" alt="{{ p['image_name'] }}">
              <div class="card-body">
                <h5 class="card-title">{{ p['image_name']}}</h5>
                <p class="card-text">Caption:<br>{{ p['image_caption'] }} <small class="text-muted"><br>(Uploaded on: {{ p['uploaded_on'] }})</small></p>
                <hr>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href='{{ url_for('display_selected_album', albumid=data['_id']) }}' class='btn btn-sm btn-outline-primary'>Edit</a>
                    <a href='{{ url_for('display_delete_confirmation', albumid=data['_id']) }}' class='btn btn-sm btn-outline-danger'>Delete</a>
                  </div>
                  <small class="text-muted">File Extension: {{ p['file_type'] }}</small>
                  <small class="text-muted">Size: {{ p['file_size'] }}Mb </small>
                </div>
              </div>
            </div>
          </div>
          {% endif %} {% endfor %}
        </div>
      </div>
    </div>    
{% endblock %}
